body {
    background: #000000;
    background: -webkit-linear-gradient(to right, #010101, #000000);
    background: linear-gradient(to right, #020202, #000000);
}
centrado{
    display: block;
margin-left: auto;
margin-right: auto;
}