<div>
    <table>

      <th>idPantera</th>
      <th>Name</th>
      <ng-container *ngFor="let Panther of pantherArray">
        <tr>
          <td>{{Panther.idPantera}}</td>
          <td>{{Panther.name}}</td>
          <button class="btn btn-primary" (click)="deletePanther(Panther.idPantera)">
            Eliminar Pantera
          </button>
          <button class="btn btn-primary" (click)="editPanther(Panther)">
            Editar Pantera
          </button>
        </tr>
      </ng-container>
    </table>
    <div class="center">
      <button><a href="/CreateP">Agregar Pantera</a></button>
    </div>
    <div class="center">
      <button><a href="/ModP">Modificar Pantera</a></button>
    </div>

</div>
