<div>
    <table>

      <th>idPantera</th>
      <th>Name</th>
      <ng-container *ngFor="let Panther of pantherArray">
        <tr>
          <td>{{Panther.idPantera}}</td>
          <td>{{Panther.name}}</td>
          <button class="btn btn-primary" (click)="deletePanther(Panther.idPantera)">
            Eliminar Pantera
          </button>
          <button class="btn btn-primary" (click)="editPanther(Panther)">
            Editar Pantera
          </button>
        </tr>
      </ng-container>
    </table>
    <button (click)="agregar()" class="btn btn-primary">
      Agregar Pantera
  </button>

</div>
